# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dll

# Compiled Static libraries
*.lai
*.la
*.a

# Binaries
*.exe

#Compiled Python files
*.pyc

#Product of building
primes.h